
<div class="header">
  <div class="main">
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home"> <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
            alt="SummitTickets Logo" width="30" height="30" class="d-inline-block align-top">
          SummitTickets
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">
                <i class="fa-solid fa-house"></i> Home</a> 
            </li>

            <!-- Eventos -->
            <li class="nav-item">
              <a class="nav-link" href="/evento"><i class="fa-solid fa-calendar-days"></i> Eventos</a>
            </li>
          </ul>

          <!--tienda -->
          <div class="text-center text-lg-start mt-0 pt-1 button-container">
            <button type="button" class="btn btn-light btn-lg" (click)="irALogin()">
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
          </div>


          <!-- Formulario de inicio de sesión (login) -->
          <div class="text-center text-lg-start mt-0 pt-1 button-container2" *ngIf="!sesion">
            <button type="button" class="btn btn-light btn-lg" [routerLink]="['/usuarios']">
              <i class="fa-solid fa-door-open"></i> Login</button>              
          </div>

          <!-- Botón de nombre de usuario (mostrado cuando se inicia sesión) -->
          <div class="text-center text-lg-start mt-0 pt-1 button-container2" *ngIf="sesion">
            <div class="dropdown">
              <button class="btn btn-light btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-circle-user"></i> {{ usuario.nombre }}</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button type="button" class="dropdown-item text-center" (click)="cerrarSesion()">
                  <i class="fa-solid fa-door-closed"></i> Cerrar Sesión</button>

              </div>
            </div>
          </div>

        </div>
      </div>
    </nav>
  </div>
</div>