
.header {
  z-index: 1000;
  /* Coloca el header por encima del contenido */
  position: fixed;
  width: 100%;
  /* Asegura que ocupe todo el ancho disponible */
}

.main {


  background: #00000075;
  margin: 0 auto;
  /* Centra el header */
  backdrop-filter: blur(5px);
  /* Efecto de desenfoque */
}

.navbar {
  background-color: transparent !important;
}

.navbar-brand,
.nav-link {
  color: white !important;
  font-weight: bold;
}

.button-container {
  margin-right: 10px;
}

.button-container2 {
  margin-right: 50px;
}

/* CSS personalizado para cambiar el color de fondo del botón de cerrar sesión cuando esté activo */
.dropdown-item:active {
  color: black;
  background-color: white;
  /* Cambiar el color de fondo a transparente */
}


.cart-icon-container {
  position: relative;
  display: inline-block;
}

.nav-item{
  margin-left: 10px;
}