<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">

<footer class="text-center p-1" style="background-color: rgba(255, 255, 255, 0.292);">
  <!-- Grid container -->
  <div class="container pt-1">
    <!-- Section: Social media -->
    <section class="mb-2">

      <!-- Facebook -->
      <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body "
        href="https://www.facebook.com/lenin.correa.25" role="button" target="_blank">
        <i class="devicon-facebook-plain"></i>
      </a>

      <!-- Twitter -->
      <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body " href="https://x.com/x_JIIRO"
        role="button" target="_blank">
        <i class="devicon-twitter-original colored"></i>
      </a>

      <!-- Linkedin -->
      <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body"
        href="https://www.linkedin.com/in/lenin-correa-b496b5272/" role="button" target="_blank">
        <i class="devicon-linkedin-plain"></i>
      </a>
      
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-1">
    © 2024 Copyright:
    <a class="text-body">Lenin Correa
    </a>
  </div>
  <!-- Copyright -->
</footer>