<div class="video-background">
  <!-- Video de fondo -->
  <video autoplay muted loop id="bg-video">
    <source src="assets/img/background/pay.mp4" type="video/mp4">
  </video>

  <section class="h-100 h-custom">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">

              <div class="row">

                <div class="col-lg-7">
                  <h5 class="title"><a href="evento" class="link"><i class="fa-solid fa-rotate-left"></i> Continua
                      Comprando</a></h5>
                  <hr>

                  <div class="cart-header">
                    <div>
                      <p class="cart-title">Shopping cart</p>
                    </div>
                  </div>

                  <div class="cart-items-container">
                    <div *ngIf="carrito.length > 0; else emptyCart"></div>
                    <div class="cart-item" *ngFor="let item of carrito">
                      <div class="cart-body">
                        <div class="item-details">
                          <img [src]="item.imagen" alt="Shopping item" class="item-image">
                          <div class="item-info">
                            <h5 class="item-name">{{ item.nombre }}</h5>
                            <p class="item-date">{{ item.fecha }} | {{item.ubicacion}}</p>
                          </div>
                        </div>
                        <div class="item-actions">
                          <div class="item-price">${{ item.precio }}</div>
                          <button class="btn btn-danger btn-sm" (click)="eliminarCarrito(item.id_evento)">
                            <i class="fas fa-trash-alt"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>


                  <ng-template #emptyCart>
                    <p class="text-center">No hay eventos en tu carrito.</p>
                  </ng-template>
                </div>
                <div class="col-lg-5">

                  <div class="card payment-card">
                    <div class="card-body">
                      <div class="payment-header">
                        <h5 class="payment-title">Card details</h5>
                      </div>

                      <p class="small">Card type</p>
                      <div class="card-types">
                        <a href="#!" class="text-white"><i class="fab fa-cc-mastercard"></i></a>
                        <a href="#!" class="text-white"><i class="fab fa-cc-visa"></i></a>
                        <a href="#!" class="text-white"><i class="fab fa-cc-amex"></i></a>
                        <a href="#!" class="text-white"><i class="fab fa-cc-paypal"></i></a>
                      </div>

                      <form class="payment-form">
                        <div class="form-group">
                          <input type="text" id="typeName" class="form-control" placeholder="Cardholder's Name" />
                          <label for="typeName">Cardholder's Name</label>
                        </div>

                        <div class="form-group">
                          <input type="text" id="typeText" class="form-control" placeholder="1234 5678 9012 3457"
                            minlength="19" maxlength="19" />
                          <label for="typeText">Card Number</label>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" id="typeExp" class="form-control" placeholder="MM/YYYY" minlength="7"
                                maxlength="7" />
                              <label for="typeExp">Expiration</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="password" id="typeCVV" class="form-control"
                                placeholder="&#9679;&#9679;&#9679;" minlength="3" maxlength="3" />
                              <label for="typeCVV">Cvv</label>
                            </div>
                          </div>
                        </div>

                      </form>

                      <hr class="my-4">

                      <div class="total">
                        <div class="total-amount">
                          <p>Total: </p>
                          <p>${{ getTotal() | number:'1.2-2' }}</p>
                        </div>
                      </div>

                      <button type="button" class="checkout-button">
                        <div class="checkout-content">
                          <span>${{ getTotal() | number:'1.2-2' }}</span>
                          <span> Checkout <i class="fa-solid fa-receipt"></i></span>
                        </div>
                      </button>

                    </div>
                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>