body {
    background: url(../img/contact.jpg) no-repeat local  ;
    background-size: cover;
    min-height: 75vh;
    font-size: 30px; /* Aumentar el tamaño de la letra */
    font-weight: bold;
}

.container {
    max-width: 800px;
    padding: 20px;
    text-align: center;
    color: rgb(125, 43, 110); /* Cambia el color del texto según tus preferencias */
    font-weight: bold;
}

.contenedor {
    display: flex;
    justify-content: space-between;
}

.mapa, .contancto {
    width: calc(50% - 10px); /* 50% del ancho del contenedor menos un pequeño espacio */
    color: rgb(125, 43, 110);
    font-size: 30px; /* Aumentar el tamaño de la letra */
    font-weight: bold;

}

/* Opcional: Estilos adicionales */
.mapa {
    text-align: center;
    
}

.contancto {
    text-align: center;
 
}
