.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;

}

.btn {
  text-decoration: none;
  color: #ffffff;
  /* Color del texto */
  height: 50px;
  width: 150px;
  margin-top: 1px;
  /* Padding en los enlaces */
  border-radius: 50px;
  /* Bordes redondeados */
  background-color: #000000;
  /* Fondo del enlace */
  display: flex;
  align-items: center;
  /* Alinear íconos y texto verticalmente */
  font-size: 15px;
  font-weight: bold;
}

.btn:hover {
  color: aliceblue;
  background-color: #000000c2;
  /* Darker background on hover */
}

.card-price {
  text-decoration: none;
  color: #000000;
  /* Color del texto */
  padding: 13px 10px;
  /* Padding en los enlaces */


  /* Fondo del enlace */
  display: flex;
  align-items: center;
  /* Alinear íconos y texto verticalmente */
  font-size: 20px;
  font-weight: bold;

}


.card {

  margin-right: 20px;
  /* Ajusta según sea necesario o elimina si no quieres espacio entre tarjetas */
  margin-bottom: 50px;
}

.card-date {
  color: green;
}


.card-desc {
  color: darkgray;
  height: 80px;
}

.card-footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}


body {
  background: url(/assets/img/background/event.webp) no-repeat local;
  background-size: cover;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  /* Puedes cambiar la fuente según tus preferencias */
  text-align: center;
}

img {

  height: 200px;
  width: 319px;
}

.logo {
  margin-top: 50px;
}

.container {

  color: white;
  /* Cambia el color del texto según tus preferencias */
}