.gradient-custom-2 {
    /* fallback for old browsers */
    background: #446782;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #2b7caa, #24526d, #103972, #335d9d);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #2b7caa, #24526d, #103972, #335d9d);
}

@media (min-width: 760px) {
    .gradient-form {
        height: 125vh !important;
    }
}

@media (min-width: 760px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.card {
    margin-top: 40px;

}