<form [formGroup]="formulario" (ngSubmit)="registrar()">
  <!-- Input para el nombre -->
  <div class="form-outline mb-4">
    <input type="text" id="nombre" class="form-control form-control-lg" formControlName="nombre" />
    <label class="form-label" for="nombre">Nombre</label>
  </div>

  <!-- Input para el email -->
  <div class="form-outline mb-4">
    <input type="email" id="email" class="form-control form-control-lg" formControlName="email" />
    <label class="form-label" for="email">Email</label>
  </div>

  <!-- Input para la contraseña -->
  <div class="form-outline mb-4">
    <input type="password" id="password" class="form-control form-control-lg" formControlName="password" />
    <label class="form-label" for="password">Password</label>
  </div>

  <!-- Input para el teléfono -->
  <div class="form-outline mb-4">
    <input type="text" id="telefono" class="form-control form-control-lg" formControlName="telefono" />
    <label class="form-label" for="telefono">Telefono</label>
  </div>

  <!-- Checkbox para aceptar términos -->
  <div class="form-check d-flex justify-content-center mb-5">
    <input class="form-check-input me-2" type="checkbox" id="aceptarTerminos" formControlName="aceptarTerminos" />
    <label class="form-check-label" for="aceptarTerminos">
      I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
    </label>
  </div>

  <!-- Botón de registro -->
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click)="registrar()">Register</button>
  </div>

  <!-- Enlace para iniciar sesión -->
  <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!" class="fw-bold text-body"><u>Login here</u></a></p>
</form>
